table {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
thead {
  width: 100%;
  background-color: #ccc;
}
tr:nth-of-type(even) {
  background-color: #ccc;
}
tr {
  width: 80%;
  height: 60px;
  text-align: center;
}
th:first-of-type {
  width: 10%;
}
th:nth-of-type(2) {
  width: 60%;
}
th:nth-of-type(3) {
  width: 10%;
}
th:last-of-type {
  width: 20%;
}

td:nth-of-type(2) {
  text-align: left;
  padding-left: 30px;
}
